/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 05 */

.container {
	width: 1024px;
	margin: 0 auto;
}


.header {
	height: 214px;
	width: 984px;
	margin: 0 auto;
}
/* hint! what do you have to add here? */

.logo {
	height: 58px;
	width: 950px;
}

.navigation {
	height: 58px;
	width: 950px;
}

.sidebar {}

.main_content {
	height: 214px;
	width: 984px;
}
/* hint! you have to contain the floated children elements. */

.sub_content {
	/* hint! */
}
.sub_content_2 {
	/* hint! */
}

.footer {
	width: 984px;
	height: 58px;
}
