/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 04 */

.container {
	width: 1024px;
	margin: 0 auto;
}


.header {
	width: 990px;
	height: 150px;
}
	
/* hint! you have to contain the floated children elements. */

.logo {
	/* hint! */
}

.navigation {
	/* hint! */
}

.sidebar {
	width: 990px;
}

.main_content {
	width: 990px;
}

.footer {
	width: 990px;
}
